@import './modules/_colors';

.Hollow-Cell {
    $size: 30px;
    width: $size;
    height: $size;
    border-radius: 3px;

    border: 1px solid transparent;
}

.Cell {
    background-color: $bg-color;
    border-color: #ccc;
}

.Wall {
    background-color: $color-1;
    border-color: $color-1;
}
