@import './modules/_colors';
@import './modules/_variables';


.Grid *:not(.Goal .Player) {
    // Prevent drag
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;

    // Prevent select
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.Grid-Cell {
    will-change: filter;   
}

.Cell-shape {
    border-radius: 3px;
    border: 1px solid transparent;
}

.dnd-elem {
    position: absolute;
}

.Empty-Cell {
    background-color: $bg-color;
    border-color: rgba(204, 204, 204, .75);
}

.Wall {
    background-color: $color-1 !important;
    border-color: $color-1 !important;
}

.Player {
    background-color: #333 !important;
    border-color: #333 !important;
}

.Goal {
    background-color: #fcba03 !important;
    border-color: #fcba03 !important;
}

.Path {
    background-color: rgba(3, 140, 252, .4) !important;
    border-color: rgba(3, 140, 252, .4) !important;
}