@import './modules/_colors';
@import './modules/_variables';

.Grid-Cell {
    will-change: filter;   
}

.Cell-shape {
    border: 1px solid transparent;
}

.dnd-elem {
    position: absolute;
    cursor: grab;
}

.Empty-Cell {
    background-color: $bg-color;
    border-color: rgba(204, 204, 204, .75);
}

.Wall {
    background-color: $color-1 !important;
    border-color: $color-1 !important;
}

.Player {
    background-color: #333 !important;
    border-color: #333 !important;
}

.Goal {
    background-color: #fcba03 !important;
    border-color: #fcba03 !important;
}

.Visited {
    background-color: rgba(3, 140, 252, .4) !important;
    border-color: rgba(3, 140, 252, .4) !important;
}

.Path {
    background-color: rgba(0, 255, 0, .4) !important;
    border-color: rgba(0, 255, 0, .4) !important;
}

