$rows: 20;
$cols: 40;

.Grid {
	flex-basis: 80%;
	position: relative;

	display: grid;
	grid-template-columns: repeat($cols, 32px);
	grid-template-rows: repeat($rows, 32px);
}


.Grid *, .Grid *::after, .Grid *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}